BODY {
  /* background-color: hsla(180, 100%, 37%, 1); */
  padding-bottom: 2rem;
}

img#desktop {
  width: 80%;
  border-radius: 5%;
}

.container {
  text-align: center;
}

.row.aboveFold .column {
  /*Need to reset this for some reason*/
  max-width: none;
}

UL {
  text-align: left;
}

.buyBox {
  border: 1px solid gray;
  width: 17rem;
  padding: 1rem;
  margin: auto;
}

#buyBox * {
  margin-bottom: 0.7rem;
}

@media (min-width: 40.0rem) {
  /*#buyBox { width: 20rem}*/
}

.row.contact {
  margin-top: 2rem;
}

.row.contact p:first-of-type{
  margin-bottom: 0;
}
