BODY {
  /* background-color: hsla(180, 100%, 37%, 1); */
  padding-bottom: 2rem;
  color: black;
}

img#desktop {
  /* width: 80%; */
  border-radius: 5%;
  max-height: 500px;
}

.container {
  text-align: center;
}

.row.aboveFold .column {
  /*Need to reset this for some reason*/
  max-width: none;
}

.subtitle {
  color: #9b4dca;
}

.bubble {
  background-color: #9b4dca;
  color: white;
  border-radius: 1rem;
  padding: 3rem 2rem;
}

.features UL {
  text-align: left;
  padding: 2rem 3rem;
}

@media (max-width: 40.0rem) {
  .row.features > .column{
    max-width: none;
    margin-left: auto;
  }
}

.buyBox {
  border: 1px solid gray;
  width: 17rem;
  padding: 1rem;
  margin: auto;
}

#buyBox * {
  margin-bottom: 0.7rem;
}

.row.contact {
  margin-top: 2rem;
}

.row.contact p:first-of-type{
  margin-bottom: 0;
}
